@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;500&family=Space+Grotesk:wght@400;500;600;700&display=swap");
/** Var */
:root {
  --header-height: 3.5rem;
  /** Colors */
  --first-color: #6cace0;
  --title-color: #27292a;
  --text-color: #45484a;
  --text-color-light: #8a8f93;
  --body-color: #fcfcfd;
  --container-color: #f2f2f3;
  /** Typography */
  --body-font: "Sora", sans-serif;
  --title-font: "Space Grotesk", sans-serif;
  --biggest-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.9375rem;
  --small-font-size: 0.8125rem;
  --smaller-font-size: 0.75rem;
  --tiny-font-size: 0.625rem;
}

/** Responsive Typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.8125rem;
    --tiny-font-size: 0.7rem;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: all 0.4s ease-in-out;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-family: var(--title-font);
  font-weight: 500;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Dark mode */
body.dark-theme {
  --title-color: #f2f2f3;
  --text-color: #a2a6a9;
  --body-color: #181a1b;
  --container-color: #1d1f20;
}

.dark-theme .nav,
.dark-theme .nav_menu,
.dark-theme .scrollup {
  background-color: var(--container-color);
  box-shadow: 0 4px 20px rgba(37, 50, 60, 0.4392156863);
}

.dark-theme .home_shape-waves,
.dark-theme .home_shape-circle {
  filter: invert(1);
}

.dark-theme .home_social-link {
  color: var(--title-color);
}

.dark-theme .section_border {
  border-bottom: 1px solid #565a5d;
}

.dark-theme::-webkit-scrollbar {
  background-color: #181a1b;
}

.dark-theme::-webkit-scrollbar-thumb {
  background-color: #3279b3;
}

.nav_buttons {
  display: flex;
  align-items: center;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}

.change-theme {
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
}

/* Reusable rules */
.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 2.5rem;
}

.section_border {
  border-bottom: 1px solid var(--title-color);
  padding-bottom: 3.5rem;
}

.section_title,
.section_subtitle {
  text-align: center;
}

.section_title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 0.25rem;
}

.section_subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-bottom: 3rem;
}

.main {
  overflow: hidden;
  /* For animation */
}

.btn {
  position: relative;
  padding: 1rem 2rem 0.5rem 2.5rem;
  color: var(--title-color);
  border: 3px solid var(--title-color);
  transition: padding 0.4s ease-in-out;
}

.btn:before {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: var(--first-color);
  border-right: 3px solid var(--text-color-light);
  border-bottom: 3px solid var(--title-color);
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  padding: 0.75rem 2.25rem;
}

.btn:hover:before {
  top: 0;
  left: 0;
}

/* Navigation Menu */
.header {
  width: 100%;
  position: fixed;
  bottom: 2rem;
  left: 0;
  z-index: 10;
}

.nav {
  height: calc(var(--header-height) + 0.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--body-color);
  box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.1);
  padding-inline: 1.5rem;
  border-radius: 3rem;
  /*     transition: background 0.4s;
  */
}

.nav_logo,
.nav_toggle,
.nav_close {
  color: var(--title-color);
}

.nav_logo {
  font-family: var(--title-font);
  font-weight: var(--font-medium);
}

.nav_toggle {
  display: flex;
  font-size: 1.25rem;
  cursor: pointer;
}

@media only screen and (max-width: 1023px) {
  .nav_menu {
    position: fixed;
    left: 0;
    right: 0;
    bottom: -60%;
    margin: 0 auto;
    background-color: var(--body-color);
    box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.1);
    padding: 2rem 1.5rem 5rem;
    border-radius: 2rem;
    /*         transition: bottom 0.3s;
    */
  }
}
.nav_list {
  grid-template-columns: repeat(4, max-content);
  justify-content: center;
  gap: 2rem;
}

.nav_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.25rem;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  /*     transition: color 0.4s;
  */
}

.nav_link:hover {
  color: var(--title-color);
}

.nav_link i {
  font-size: 1.25rem;
}

.nav_close {
  position: absolute;
  right: 1.5rem;
  bottom: 0.7rem;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  bottom: 2rem;
}

/* Active link */
.active-link {
  color: var(--title-color);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(207, 4%, 75%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(207, 4%, 65%);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(207, 4%, 55%);
}

/* Home Section */
.home_container {
  row-gap: 4rem;
  padding: 2rem;
}

.home_data {
  row-gap: 1.5rem;
}

.home_title,
.home_title > * {
  color: var(--title-color);
  text-align: center;
  font-size: var(--biggest-font-size);
  letter-spacing: 0.025rem;
  margin-bottom: 0.5rem;
}

.home_pic {
  position: relative;
  width: 10.3rem;
  height: 15rem;
  background: linear-gradient(180deg, rgba(149, 187, 218, 0), #6cace0);
  justify-self: center;
  place-items: center;
}

.home_perfil {
  width: 10rem;
  height: 14.375rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.home_perfil img {
  width: 95%;
}

.home_shape-waves,
.home_shape-circle {
  position: absolute;
  opacity: 0.1;
}

.home_shape-waves {
  width: 50px;
  left: -1.5rem;
  top: 5rem;
}

.home_shape-circle {
  width: 150px;
  bottom: -2rem;
  right: -3rem;
  transform: rotate(15deg);
  z-index: -1;
}

.home_social {
  justify-content: center;
  display: flex;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}

.home_social-link {
  font-size: 1.25rem;
  color: var(--text-color-light);
  transition: color 0.3s;
}

.home_social-link:hover {
  color: var(--text-color);
}

.home_info {
  display: grid;
  row-gap: 2rem;
  margin-bottom: 1rem;
}

.home_info-title {
  font-family: var(--body-font);
  font-size: var(--small-font-size);
  font-weight: 400;
  color: var(--text-color-light);
  margin-bottom: 2rem;
}

/* SKILLS */
.skills_container {
  row-gap: 2.5rem;
}

.skills_items {
  font-size: 2.2rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.skills_items > * {
  color: var(--text-color-light);
  transition: color 0.3s;
}

.skills_items > *:hover {
  color: var(--text-color);
  animation: bounce 1s;
}

/* Animation skills */
@keyframes bounce {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(-6px);
  }
  40% {
    transform: translate(0);
  }
  60% {
    transform: translateY(-3px);
  }
  80% {
    transform: translate(0);
  }
}
.services_container {
  row-gap: 2.5rem;
  justify-content: center;
}

.services_card {
  position: relative;
  width: 14.25rem;
  height: 10rem;
  background-color: var(--container-color);
  text-align: center;
  padding: 1.5rem 1rem;
  transition: background 0.4s;
}

.services_card i {
  display: block;
  font-size: 2rem;
  color: var(--title-color);
  margin-bottom: 0.75rem;
  transition: transform 2s;
}

.services_title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 1.5rem;
}

.services_border {
  width: 15.5rem;
  height: 11rem;
  border: 2px solid var(--text-color-light);
  position: absolute;
  inset: 0;
  left: -0.625rem;
  margin: auto;
  z-index: -1;
  transition: opacity 0.6s ease-in-out;
  opacity: 0;
}

.services_card:hover i {
  transform: rotateY(360deg);
}

.services_card:hover .services_border {
  opacity: 1;
}

/* PROJECTS */
.projects_container {
  overflow: initial;
}

.project_content {
  display: grid;
  justify-content: center;
}

.projects_img {
  width: 250px;
  border-radius: 0.25rem;
  margin-bottom: 1.25rem;
  opacity: 0.75;
}

.projects_subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.projects_title {
  font-size: var(--h2-font-size);
  margin-bottom: 1.25rem;
  margin: 0.5rem 0 1.25rem;
}

.projects_button {
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  color: var(--title-color);
  font-size: var(--small-font-size);
}

.projects_button i {
  font-size: 1rem;
  transition: transform 0.3s;
}

.projects_button:hover i {
  transform: translateX(0.25rem);
}

/* Swiper class */
.projects_container .swiper-button-prev::after,
.projects_container .swiper-button-next::after {
  content: "";
}

.projects_container .swiper-button-prev,
.projects_container .swiper-button-next {
  width: initial;
  height: initial;
  margin: initial;
  font-size: 2.5rem;
  color: var(--title-color);
}

.projects_container .swiper-button-prev {
  top: 2.75rem;
}

.projects_container .swiper-button-next {
  top: 2.75rem;
}

.projects_container .swiper-slide {
  margin-bottom: 4.5rem;
}

.projects_container .swiper-pagination-bullets {
  bottom: 0;
}

.projects_container .swiper-pagination-bullet {
  background-color: var(--text-color-light);
  opacity: initial;
}

.projects_container .swiper-pagination-bullet-active {
  background-color: var(--title-color);
}

/* CONTACT */
.contact_container {
  padding: 1rem;
}

.contact_title {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 2.5rem;
}

.contact_title i {
  font-size: 1rem;
  font-weight: initial;
}

.contact_form {
  display: grid;
}

.contact_form-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--text-color-light);
  border-radius: 0.25rem;
  padding: 1rem;
  font-size: var(--normal-font-size);
  font-family: var(--title-font);
  color: var(--title-color);
  background: none;
  z-index: 1;
}

.contact_form-tag {
  position: absolute;
  top: -0.75rem;
  left: 1.25rem;
  z-index: 10;
  background-color: var(--body-color);
  color: var(--title-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  padding: 0.35rem;
  transition: background 0.4s ease-in-out;
}

.contact_form-area textarea {
  resize: none;
}

.contact_form .contact_button {
  border: none;
  background: none;
  font-size: var(--h2-font-size);
  font-family: var(--title-font);
  font-weight: var(--font-semi-bold);
  cursor: pointer;
  outline: none;
  margin-top: 0.75rem;
}

.contact_form .contact_button i {
  font-size: 1.5rem;
  font-weight: initial;
}

.contact_message {
  font-size: var(--small-font-size);
  position: absolute;
  bottom: 2.8rem;
  left: 1.5rem;
}

.contact_button {
  width: -moz-max-content;
  width: max-content;
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  color: var(--title-color);
  font-size: var(--small-font-size);
}
.contact_button:hover i {
  text-decoration: none;
  color: var(--first-color);
}
.contact_button:active {
  transform: scale(0.95);
}

.contact_button i {
  font-size: 1rem;
}

.contact_form {
  position: relative;
  row-gap: 2rem;
}

.contact_form-div {
  position: relative;
  height: 4rem;
}

.contact_form-area {
  height: 10rem;
}

.contact_form-input {
  position: absolute;
  top: 0;
  left: 0;
}

.color-red {
  color: #da3125;
}

.color-blue {
  color: #3279b3;
}

/* FOOTER */
.footer_container {
  padding: 3rem 0 7rem;
  text-align: center;
}

.footer_title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 1rem;
}

.footer_list,
.footer_social {
  display: flex;
  justify-content: center;
}

.footer_list {
  margin: 2.5rem 0;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
}

.footer_link {
  color: var(--title-color);
}

.footer_link:hover {
  text-decoration: underline;
}

.footer_social {
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}

.footer_social-link {
  font-size: 1.25rem;
  color: var(--title-color);
  transition: transform 0.3s;
}

.footer_social-link:hover {
  transform: translateY(-0.15rem);
}

.footer_copy {
  display: block;
  margin-top: 4.5rem;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -30%;
  background-color: var(--body-color);
  box-shadow: 0 4px 12px hsla(207, 24%, 35%, 0.15);
  display: inline-flex;
  padding: 0.35rem;
  border-radius: 0.25rem;
  font-size: 1.1rem;
  color: var(--title-color);
  z-index: 1;
  transition: bottom 0.3s, transform 0.3s;
}

.scrollup:hover {
  transform: translateY(-0.25rem);
}

/* Show Scroll Up*/
.show-scroll {
  bottom: 7.5rem;
}

/* Media Queries */
/* For tiny devices */
@media screen and (min-width: 340px) {
  .container {
    margin-inline: 1rem;
  }
}
@media screen and (min-width: 576px) {
  .nav,
  .nav_menu {
    width: 380px;
  }
  .nav {
    margin: 0 auto;
  }
  .skills_container {
    justify-content: center;
  }
  .skills_items {
    font-size: 4rem;
  }
  .projects_container {
    width: 100%;
    overflow: hidden;
  }
}
@media screen and (min-width: 767px) {
  .home_data {
    grid-template-columns: 1fr 1fr;
  }
  .home_title {
    align-self: center;
  }
  .home_title,
  .home_title > * {
    font-size: 2rem;
  }
  .home_info-description {
    padding-right: 0;
  }
  .services_container {
    grid-template-columns: repeat(3, 1fr);
  }
  .projects_container {
    width: 100%;
  }
}
@media screen and (min-width: 1023px) {
  .home_title,
  .home_title > * {
    font-size: 3rem;
  }
  .header {
    top: 0;
    bottom: initial;
    background-color: var(--body-color);
    /*         transition: all 0.4s;
    */
  }
  .nav {
    width: initial;
    height: calc(var(--header-height) + 1.5rem);
    box-shadow: none;
    border-radius: 0;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
    margin-inline: 1.5rem;
    padding: 0;
  }
  .nav_link i,
  .nav_toggle,
  .nav_close {
    display: none;
  }
  .nav_menu {
    width: initial;
    margin-left: auto;
    background-color: transparent;
    /*         transition: background 0.4s;
    */
  }
  .nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav_link {
    font-size: var(--normal-font-size);
  }
  .dark-theme .nav,
  .dark-theme .nav_menu {
    background-color: var(--body-color);
    box-shadow: none;
  }
  .change-theme {
    color: var(--text-color-light);
  }
  .change-theme:hover {
    color: var(--title-color);
  }
  .section {
    padding-block: 4rem 0;
  }
  .contact_form {
    width: 50%;
    margin: 0 auto;
  }
  .scrollup {
    right: 3rem;
  }
  /* Change backgroundcolor nav */
  .bg-header {
    box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.1);
  }
  .dark-theme .bg-header {
    box-shadow: 0 6px 24px hsla(207, 24%, 8%, 0.6);
  }
}
@media screen and (min-width: 1048px) {
  .container {
    margin-inline: auto;
  }
}/*# sourceMappingURL=style.css.map */